<?xml version="1.0" encoding="iso-8859-1"?>
<methodCall> 
<methodName>XMLRPCgetRequestConnectData</methodName>
	<params>
		<param>
		 <value><int>{{request_id}}</int></value>
		</param>
		<param>
		 <value><string>{{users_ip}}</string></value>
		</param>
	</params>
</methodCall>