<?xml version="1.0" encoding="iso-8859-1"?>
<methodCall> 
<methodName>XMLRPCaddRequest</methodName>
	<params>
		<param>
		 <value><int>{{image_id | default(2206)}}</int></value>
		</param>
		<param>
		 <value><string>now</string></value>
		</param>
		<param>
			 <value><int>60</int></value>
		</param>
	</params>
</methodCall>
